body {
	font: 20pt Verdana;
}

td:nth-child(odd) {
	font-family: monospace;
}

td:nth-child(2) {
	tr:nth-child(2) > & {
		font-weight: bold;
	}

	tr:nth-child(3) > & {
		font-style: italic;
	}

	tr:nth-child(4) > & {
		font-weight: bold;
		font-style: italic;
	}

	tr:nth-child(5) > & {
		font-family: monospace;
	}

	tr:nth-child(6) > & {
		text-decoration: underline;
	}

	tr:nth-child(7) > & {
		text-decoration: line-through;
	}
}
